@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5fai7w');
  src:  url('../fonts/icomoon.eot?5fai7w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5fai7w') format('truetype'),
    url('../fonts/icomoon.woff?5fai7w') format('woff'),
    url('../fonts/icomoon.svg?5fai7w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}