body {
    background: whitesmoke;
    color: gray;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

dl {
    min-width: 330;
    margin: auto;
    width: 90%;
}

dt {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    position: relative;
    padding: $default-padding 40px;
    transition: padding-top 0.5s ease;    
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;

    &:before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        
        transition: right 0.75s ease, font-size 0.75s ease;
        position: absolute;
        top: 25;
        left: 0;
        right: 100%;
        text-align: center;
        content: "\70";
    }

    &:nth-child(1) {
        &:before {
            content: "\69";
        }
    }
    &:nth-child(3) {
        &:before {
            content: "\74";
        }
    }
    &:nth-child(5) {
        &:before {
            content: "\61";
        }
    }

    dd + & {
        border-top: 1px solid #ddd;
    }

    &[data-active] {
        padding-top: 100px;
        font-size: 2.5rem;
        text-align: center;

        &:before {
            right: 0;
            font-size: 70px;
        }
    }
}

dd {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s;
    margin: 0;
    
    dt[data-active] + & {
        max-height: 350px;
        transition: max-height 1s ease-in-out 0.20s;
    }
}
