body {
    background: whitesmoke;
    color: gray;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

dl {
    min-width: 330;
    margin: auto;
    width: 90%;
}

dt {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    position: relative;
    padding: $default-padding 50px $default-padding $default-padding;    
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;

    &:after,
    &:before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &:after {
        position: absolute;
        top: $default-padding;
        right: $default-padding;
        content: "\2b";

        transform: rotate(0deg);
        transition: all 0.75s;
    }
    &:before {
        padding-right: 10px;
        content: "\70";
    }

    &:nth-child(1) {
        &:before {
            content: "\69";
        }
    }
    &:nth-child(3) {
        &:before {
            content: "\74";
        }
    }
    &:nth-child(5) {
        &:before {
            content: "\61";
        }
    }

    dd + & {
        border-top: 1px solid #ddd;
    }

    &[data-active] {
        &:after {
            transform: rotate(45deg);
            //content: "\2d";
        }
    }
}

dd p {
    	height: 0; 
	overflow: hidden;

	transition-property: height;
	transition-duration: 1s;
	perspective: 1000px;
    transform-style: preserve-3d;
    

    dt[data-active] + & {
        height: 100px; 
	transition-property: all; 
	transition-duration: 1s;
	transform-origin: top; 
    }
}
