// Sizes
$default-padding: 20px;
$dl-min-width: 330px;
$dd-max-height: 400px;
$active-element-margin: 5px;
$default-border-radius: 4px;

// Fonts
$body-font: 'Noto Sans', sans-serif;
$title-font: 'Fjalla One', sans-serif;

// Colors
$black: #46494C;
$white: #F1F1F1;
$beige: #F5F7DC;
$red: #CC7779;
$blue: #1985A1;

// Components
// body
$body-bg: $beige;
$font-color: $blue;

//dt
$dt-color: $beige;
$dt-background: $blue;
$dt-hover: $red;

//dd
$dd-color: $black;
$dd-background: $white;

// dt-active
$dt-active-color: $red;
$dt-active-background: $dd-background;

// Other
$active-border: 1px solid $red;


//
//
//
//
//
//
//$light-color: #F5F7DC;
//$dark-color: #46494C;
//$primary-color: #1985A1;
//$gray: #F5F5F5;
//
//
//
//$bg: #F1F1F1;
//$active-bg: #F7F7F7;
//$active-color: #DA734F;
//$default-bg: #DA6F51;
//$default-color: #A13C3F;
//$hover-color: #CC7779;
//
//
//// Components
//// default
//$default-title-color: $light-color;
//$default-bg-color: $primary-color;
//
//// active
//$front-color: $dark-color;
//$bg-color: $gray;
//
//$active-title-color: $hover-color;
//
//$hover-color: $hover-color;
