dt {
    font-family: $title-font;
    position: relative;
    padding: $default-padding 50px 15px;
    transition: background-color 0.25s ease, padding-top 0.5s ease, font-size 0.5s ease-out;    
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    color: $default-color;
    background-color: $default-bg;

    &:first-child {
        border-radius: $default-border-radius $default-border-radius 0 0; 
    }

    &:hover {
        background-color: $hover-color;
    }

    &[data-active] {
        padding: 120px 10% 0;
        font-size: 2.5rem;
        text-align: center;
        color: $front-color;
        background-color: $bg-color;
        margin-top: $active-margin;
        border: $active-border;
        border-bottom-width: 0;
        border-radius: $default-border-radius $default-border-radius 0 0; 

        &:hover {
            transition: background-color 0s ease;
        }
    }
}